@charset "UTF-8";

 @media screen and (min-width: 768px) and (max-width:992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login{
        width: 80vw;
        height: 350px;

    }
    #login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    .campo input{
        padding-left: 33%;
    }

    #login > div#formulario{
        float: right;
        width: 70%;
    } 
    
    main h1{
        position: relative;
        text-align: center;
        margin-bottom: 5px;
    }
    
    main h1::before{
        content: '';
        position: absolute;
        height: 4px;
        width: 25px;
        margin-bottom: 0px;
        border-radius: 8px;
        background: linear-gradient(45deg, #49a09d, #5f2c82);
    }
 }

 @media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login{
        width: 950px;
        height: 400px;
    }

    #login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > div#formulario{
        float: left;
        width: 50%;
    }

    form > div.campo{
        margin-top: 10px 0px;
    }
    
    .campo input{
        padding-left: 33%;
    }
    
    main h1{
        position: relative;
        text-align: center;
        margin-bottom: 5px;
    }
    
    main h1::before{
        content: '';
        position: absolute;
        height: 4px;
        width: 25px;
        border-radius: 8px;
        background: linear-gradient(45deg, #49a09d, #5f2c82);
    }
    #formulario > p{
        font-size: 0.8em;
        margin: 10px 0px;
    }
}